@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

body{
    font-family: sans-serif;
    overflow: hidden;
    background-color: #dbf7ff;
 
}

.container, .details-container{
    display: flex;
    width: 100%;
    height: 100Vh;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./Assets/Background\ Pattern.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.details-container{
    background-image: url(./Assets/Background\ Pattern\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#signup-form{
    position: relative;
    display: flex;
    width: 25%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3% 2%;
    border-radius: 8px;
}

#signup{
    width: 100%;
}

.welcome-wish{
    margin-bottom: 0.5%;
    color: #333333;
}

.heading{
    color: #333333;
    margin-bottom: 3%;
}

.label{
    font-size: 14px;
    margin-bottom: 4px;
}

.input{
    margin-bottom: 9px;
    width: 100%;
}

.input input{
    width: 95%;
    font-size: 16px;
    padding: 7px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(200, 199, 199);
}

#confirm-password{
    margin-bottom: 2%;
}

#submit-button, #logout-button{
    width: 99%;
    padding: 4%;
    font-weight: 800;
    background-color: rgb(52, 52, 209);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 4%;
    cursor: pointer;
}

.warning-message{
    text-align: center;
    color: #625BF7;
    font-weight: 700;

}

.already-account{
    text-align: center;
}

.already-account span{
    color: #625BF7;
    cursor: pointer;
}


/* details css style */

#details{
    width: 25%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3% 2%;
    border-radius: 8px;
}

.success{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #625BF7;
}

#user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.profile-heading{
    font-size: 20px;
    font-weight: 700;
}

.user-details{
    margin: 6% 0%;
}

.user-details p{
    margin-bottom: 8%;
    font-size: 18px;
}


/* responsive */

@media screen and (min-width:320px) and (max-width:470px){
    
    .container{
        background-image: url(./Assets/Background.png);
        background-repeat: no-repeat;
    }

    .details-container{
        background-image: url(./Assets/Background\ Pattern\ \(2\).png);
        background-repeat: no-repeat;
    }

    #signup-form{
        width: 60%;
        padding: 5% 5%;
    }

    /* details.html responsive */

    #details{
        width: 60%;
        padding: 5% 2%;
        border-radius: 8px;
    }
    

    #user-info{
        row-gap: 8px;
    }

}

@media screen and (min-width:471px) and (max-width:768px){
    
    .container{
        background-image: url(./Assets/Background\ Pattern.png);
        background-repeat: no-repeat;
    }

    .details-container{
        background-image: url(./Assets/Background\ Pattern\ \(1\).png);
        background-repeat: no-repeat;
    }

    #signup-form{
        width: 50%;
        padding: 5% 5%;
    }

     /* details.html responsive */

     #details{
        width: 50%;
        padding: 5% 2%;
        border-radius: 8px;
    }
    

    #user-info{
        row-gap: 5px;
    }
    

}

@media screen and (min-width:769px) and (max-width:900px){
    
    .container{
        background-image: url(./Assets/Background\ Pattern.png);
        background-repeat: no-repeat;
    }

    .details-container{
        background-image: url(./Assets/Background\ Pattern\ \(1\).png);
        background-repeat: no-repeat;
    }

    #signup-form{
        width: 40%;
        padding: 5% 5%;
    }


     /* details.html responsive */

     #details{
        width: 40%;
        padding: 5% 2%;
        border-radius: 8px;
    }
    

    #user-info{
        row-gap: 5px;
    }

}

@media screen and (min-width:901px) and (max-width:1246px){

    #user-info{
        row-gap: 5px;
    }
}